
@{
    ViewBag.Title = "Index";
}

<div id="OwnerProperties" class="panel  cardcard card-default widget animated" style="animation-delay: 0.03s;">
    <div class="col-md-12 col-sm-12 row-md-5">
        <div class="card card-default widget animated" style="animation-delay: 0.03s;">
            <div id="PropertyHeading" class="card-heading">
                <div class="card-controls">
                    <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                </div>
                <h3 id="GreyTextBackground" class="rounded card-title text-center">Your Properties</h3>
            </div>
            <div class="card-body">
                <div style="height:150px; padding: 0px; position: relative; overflow-y: scroll;">
                    <div class="list-group">
                        <table id="TableCellRightAlign" class="table table-hover list-group-item-dark">
                            <tr class="well">
                                <td>7 Short Road Carradale Unit 10</td>
                                <td id="TableCellRightAlign">
                                    <div><button type="button" class="pull-right btn btn-light">Remove</button></div>
                                    <div><button type="button" class="pull-right btn btn-light" data-toggle="modal" data-target="#ManageAgentModal">Manage Agent</button></div>
                                    <div><button type="button" class="pull-right btn btn-light" data-toggle="modal" data-target="#TenantModal">Manage Tenant</button></div>
                                </td>
                            </tr>
                            <tr class="well">
                                <td>7 Long Road Elephant Unit 10</td>
                                <td id="TableCellRightAlign">
                                    <div><button type="button" class="pull-right btn btn-light">Remove</button></div>
                                    <div><button type="button" class="pull-right btn btn-light" data-toggle="modal" data-target="#ManageAgentModal">Manage Agent</button></div>
                                    <div><button type="button" class="pull-right btn btn-light " data-toggle="modal" data-target="#TenantModal">Manage Tenant</button></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="padding-20 text-center page-footer">
        <h5>Have a nice day !</h5>
    </footer>
</div>
<!--ManageTenantModal-->
<div class="modal fade" id="TenantModal" tabindex="-1" role="dialog" aria-labelledby="updateProfile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <!--Title-->
            <div class="modal-header">
                <div id="TextYellowBackground" class="rounded full-width">
                    <h4 class="modal-title text-center" id="updateProfileModalLabel">

                        7 Short Road Carradale Unit 10
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                @*List of Tenants*@
                <div class="card">
                    <h4 class="card-title padding-20 weight-bold text-center" id="GreyTextBackground">
                        Tenants
                    </h4>
                    <table>
                        <tr>
                            <td class="TenantDetails col-4">Johan Miller</td>
                            <td class="TenantDetails col-5">082 454 7846 </td>
                            <td class="TenantDetails col-2"><button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                        </tr>
                        <tr>
                            <td class="TenantDetails col-4">Jamie Miller </td>
                            <td class="TenantDetails col-5">082 744 1102 </td>
                            <td class="TenantDetails col-2"><button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                        </tr>
                    </table>
                </div>
                @*Current Tenant*@
                <div class="card">
                    <h4 id="GreyTextBackground" class="card-title text-center">Current Tenant</h4>
                    <div class="card-body">
                        <form class="form-inline">

                            <label for="IdNumber" class="weight-bold col-sm-4 col-form-label padding-right-xs">ID Number: </label>
                            <input type="text" class="form-control" id="IdNumber" placeholder="">

                        </form>
                        <br />
                        <form class="form-inline">
                            <label for="profileFirstName" class="weight-bold col-sm-4 col-form-label padding-right-xs">First Name: </label>
                            <input type="text" class="form-control" id="profileFirstName" placeholder="">
                        </form>
                        <br />
                        <form class="form-inline">
                            <label for="Surname" class="weight-bold col-sm-4 col-form-label padding-right-xs">Surname: </label>
                            <input type="text" class="form-control" id="Surname" placeholder="">
                        </form>
                        <br />
                        <form class="form-inline">
                            <label for="Lease" class="weight-bold col-sm-4 col-form-label padding-right-xs">Lease End Date: </label>
                            <input type="text" class="form-control" id="Lease" placeholder="">
                        </form>

                       
                        <form class="form-inline text-center">
                            <div id="CenterButtons" class="full-width">
                                <br />
                                <button type="button" class="btn btn-dark pull-right " data-dismiss="modal">Add New Tenant</button>
                                <button type="button" class="btn btn-dark pull-right " data-dismiss="modal">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Manage Agent Modal -->
<div class="modal fade" id="ManageAgentModal" tabindex="-1" role="dialog" aria-labelledby="ManageAgent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content">

            <!--Title-->
            <div class="modal-header">
                <div id="TextYellowBackground" class="rounded full-width ">
                    <h4 class="modal-title" id="updateProfileModalLabel">Agent's</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">

                <div class="todo">
                    <ul class="list-unstyled mb-2">
                        <li class="todo-item">
                            <i class="checkbox fa fa-square-o colorYellow"></i> <span>Jonny Jones</span>
                        </li>
                        <li class="todo-item">
                            <i class="checkbox fa fa-square-o colorYellow"></i> <span>Sammy Willas</span>
                        </li>
                        <li class="todo-item done">
                            <i class="colorYellow checkbox fa fa-check-square"></i> <span>Hilder Caradale<span class="badge badge-warning text-sm">Current</span></span>
                        </li>
                        <li class="todo-item">
                            <i class="checkbox fa fa-square-o colorYellow"></i> <span>Jamie Krill</span>
                        </li>

                    </ul>
                </div>

            </div>

            <!--Update Button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

